@import "tailwindcss";
/* stylelint-disable-next-line at-rule-no-unknown */
@layer base {
  button {
    @apply p-1 cursor-pointer rounded-md shadow overflow-hidden;
  }

  input {
    @apply border border-gray-200 rounded-md p-1.5 hover:shadow;
  }

  select {
    @apply border border-gray-200 rounded-md p-1.5 hover:shadow;
  }
}